.App {
  text-align:center;
  /* text-decoration: none; */

  

}
.nav{
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  background-color: rgb(64, 223, 207);
  list-style: none;
  text-decoration: dashed;
}
.nav li{
  text-decoration: none;
  color: black;
  font-size: large;
}
.nav-ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px ;

}
.search{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}

.product-list ul{
  margin: 0px ;
}
.footer{
  /* color: aqua;
  position: sticky;
  bottom: 0px; */
  /* position: relative;
  top: 400px; */
  position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: red;
color: white;
text-align: center;
  
  
  

  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
